.--svgchart-circle {
    display: inline-block;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transform-origin: center;
    transition: stroke-dasharray 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.--svgchart-slice:hover {
    opacity: .55;
}

.--svgchart-tooltip {
    position: absolute;
    background: rgb(16, 16, 54);
    padding: 2px 5px;
    color: white;
    z-index: 99;
    opacity: 0;
}